.index-card {
    border: none !important;
    margin-bottom: 4vh !important;
}

.index-text-body {
    padding: 0 !important;
}

.index-img {
    border-radius: 2vw !important;
    object-fit: cover !important;
    width: 100% !important;
    height: 24vw !important;
}

.index-text {
    font-weight: 400;
    padding-left: 1vw;
    /* padding-bottom: 0.5rem; */
}

.index-overlay {
    opacity: 0;
}

.index-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.index a {
    text-decoration: none;
}

/* single-icon div */
.single-icon a {
    text-decoration: none;
    color: black;
    text-align: center;
    width: 7vw;
}

.single-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* margin-right: 0.5rem; */
    opacity: 0.7;
}


.scroll-btn {
    background: white;
    border: none;
    font-size: 1.8vw;
    cursor: pointer;
    padding: 0.8vw;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;
}

/* #leftBtn {
    margin-right: 0.2vw;
} */

/* #rightBtn {
    margin-left: 0.8vw;
} */


.category-rail {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 56vw;
}

.category-rail::-webkit-scrollbar {
    display: none;
}

.icon-filters {
    display: flex;
    /* gap: 0.5rem; */
    width: max-content;
}

.single-icon p {
    font-size: 1.2vw;
}

.single-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.icon-filter-wapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid black;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    padding: 1vw;
    border-radius: 1.5vw;
    font-weight: 500;
}

.tax-toggle:hover {
    border: 1.1px solid royalblue;
}

.toggle-div {
    font-size: 1.3vw;
}


@media (max-width: 300px) {

    .index-text {
        font-size: 4.5vw;
    }

}

@media (max-width: 619px) {

    .single-icon a {
        width: 10vw !important;
    }

    .single-icon {
        opacity: 0.7;
    }

    .single-icon p {
        font-size: 2.5vw;
    }

    .index-card {
        margin-left: 7vw !important;
    }

    .scroll-btn {
        font-size: 3vw;
    }

    .icon-filters {
        gap: 4vw;
    }

    .category-rail {
        width: 100vw;
    }

    .tax-toggle {
        display: none;
    }

    .index-img {
        height: 50vw !important;
        width: 75vw !important;
    }

    .index-overlay {
        opacity: 0;
    }

}

@media (min-width: 620px) and (max-width: 769px) {


    .index-img {
        height: 35vw !important;
    }

    .index-text {
        font-size: 2vw;
    }

    .category-rail {
        width: 100vw !important;
    }

    .single-icon p {
        font-size: 1.4vw;
    }

    .tax-toggle {
        display: none;
    }
}
