.listings-card {
  border: none !important;
  margin-bottom: 2rem !important;
}

.card-body {
  padding: 0 !important;
}

.card-img-top {
  border-radius: 1rem !important;
  object-fit: cover !important;
  width: 100% !important;
  height: 20rem; /* fixed invalid 'size' */
}

.card-text {
  font-weight: 400;
  padding-left: 1rem;
  /* padding-bottom: 0.5rem; */
}

.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.row a {
  text-decoration: none;
}


.show-page-image {
  height: 40vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}
